<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>GithubUserDemo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body ng-controller="GithubCtrl">
  <input type="text" ng-model="username"> {{username}}
  <button ng-click="getRepoData()">Get Info</button>
  <label>Use Cache:<input type="checkbox" ng-model="useCache"></label>
  <button ng-click="getLanguageData()" ng-disabled="repos.length < 1">Get Language Data</button>
  <!--<pre>{{userData | json}}</pre>-->
  {{userData.name}}

  <h1>Repos</h1>
  <!--<pre>{{repos | json}}</pre>-->
  <ul>
    <li ng-repeat="repo in repos track by $index">
      <a href="{{repo.html_url}}">
      {{repo.name}}
      </a> &nbsp;
      <i class="fa fa-code-fork" ng-show="repo.fork"></i>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>